// Colors
$brand_purple:         #463862;
$brand_yellow:         #fec968;
$brand_yellow_dark:    #ecb256;
$brand_yellow_darker:  #d29741;
$brand_grey:           #666666;
$brand_grey_light:     #cccccc;

// Spacing
$space-vertical-base:  40px;
$space-vertical-large: $space-vertical-base * 2;

// Breakpoints
$phone_max: 768px;
$tablet_max: 992px;
$tablet_landscape: 1200px;
